<h1 style="display:inline-block">Hi </h1><img src="http://decafsucks.com/images/icelab-logo.png" style="width: 120px; max-width:100%; display:inline-block; padding-left:10px; padding-bottom:6px">
  <p>I was just taking a look at some roda stuff and thought I'd put together a quick static site and include my pre-future-developer resume as practice! Cheers!</p>
    <h4>- Owen</h4>
